@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<FluentLayout>
    @* Header *@
    <FluentHeader>
        .NET Conf 2023
    </FluentHeader>

    <FluentBodyContent>
        <FluentStack Orientation="Orientation.Horizontal" Style="height: 100%;">

            @* Left Menu *@
            <FluentNavMenu @bind-Expanded="@Expanded" Width="250" Collapsible="true" Title="Collapsible demo">
                <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/"
                            Match="NavLinkMatch.All">Home</FluentNavLink>
                <FluentNavLink Href="/Persons">Persons</FluentNavLink>
                <FluentNavLink Href="/Weather">Weather</FluentNavLink>
                <FluentNavLink Href="/Customer">Customer</FluentNavLink>
            </FluentNavMenu>

            @* Content *@
            <div class="main-content">
                @Body
            </div>

        </FluentStack>

    </FluentBodyContent>

    @* Footer *@
    <FluentFooter>
        Microsoft 2023
    </FluentFooter>

</FluentLayout>
<FluentDialogProvider />
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code   {
    bool Expanded=true;

}